<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Browse new products
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="product-index-grid pt4">
  <% @products.each do |product| %>

    <div class="product border-light">
      <div class="product-thumb">
      <% if product.image? %>
        <%= link_to image_tag(product.image_url), product %>
      <% else %>
        <%= link_to product do %>
          <div class="image is-4by3 has-background-light">
            <div class="is-flex is-align-items-center is-justify-content-center" style="height: 100%;">
              <span class="icon is-large has-text-grey-light">
                <i class="fas fa-image fa-2x"></i>
              </span>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if product.condition? %>
        <div class="condition">
          <span class="tag is-dark"><%= product.condition %></span>
        </div>
      <% end %>
      </div>


    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to product.title, product %></h3>

      <p class="has-text-gray fg pt1">Sold by: <%= product_author(product) %></p>

      <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(product.price) %></p>

      <div class="product-actions pt2">
        <%# Add to Cart button for all users %>
        <%= form_with url: add_item_cart_path, method: :post, local: true, class: "is-inline-block" do |form| %>
          <%= form.hidden_field :product_id, value: product.id %>
          <%= form.hidden_field :quantity, value: 1 %>
          <%= form.submit "Add to Cart", class: "button is-small is-success" %>
        <% end %>

        <%# Only show edit/delete links to the product owner %>
        <% if can_edit_product?(product) %>
          <%= link_to 'Edit', edit_product_path(product), class: 'button is-small is-info ml-2' %>
          <%= link_to 'Delete', product_path(product), method: :delete,
                      confirm: 'Are you sure?', class: 'button is-small is-danger ml-2' %>
        <% end %>
      </div>

    </div>
  </div>
  <% end %>
</div>